/* auth CSS */

* {
    margin: 0; /* Margem externa */
    padding: 0; /* Margem interna */
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth; /* Suaviza o scroll na movimentacao da página */
}

html, body {
    min-height: 100%;
}

body {
    min-height: 100vh;
    overflow: hidden;
    background-color: #f7f7f7;

    background-image:
        url("../img/canto_superior_esquerdo.png"),
        url("../img/canto_superior_direito.png"),
        url("../img/canto_inferior_esquerdo.png"),
        url("../img/canto_inferior_direito.png");

    background-repeat:
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat;

    background-position:
        top left,
        top right,
        bottom left,
        bottom right;

    background-size:
        clamp(520px, 26vw, 1007px) auto,
        clamp(460px, 22vw, 860px) auto,
        clamp(460px, 23vw, 865px) auto,
        clamp(380px, 18vw, 711px) auto;
}



/* //////////////////////////////////// FUNDO ///////////////////////////////////// */


/* //////////////////////////////////// LOGIN ///////////////////////////////////// */


/* //////////////////////////////////// CADASTRO ///////////////////////////////////// */