/* auth CSS */

* {
    margin: 0; /* Margem externa */
    padding: 0; /* Margem interna */
    font-family: "Poppins", sans-serif;
}

html {
    height: 100%;
    scroll-behavior: smooth; /* Suaviza o scroll na movimentacao da página */
}

body {
    min-height: 100vh;
    background-color: #0061a2;
}


/* //////////////////////////////////// FUNDO ///////////////////////////////////// */


/* //////////////////////////////////// LOGIN ///////////////////////////////////// */


/* //////////////////////////////////// CADASTRO ///////////////////////////////////// */